.avatarAndDescription{
    padding: 10px;
}
.mainPhoto{
    max-width: 200px;
}
.contact{
    padding-left: 10px;
}
.formSummaryError{
    border: 1px solid red;
    padding: 5px;
    color: red;
    text-align: justify;
}
.editButton{
    color: black
}
.inputForm{
    color: white
}
.profileDataSaveButton{
    color: black
}
.profileInputDataForm{
    color: black
}
.profileDataLabel{
    color: white
}
.photoFileInput{
    display:block;
    margin: 0;
    padding: 0;
    width: 120px
}